<div class="container-main">

  <!-- ========================================= -->
  <!-- FASE 1: SUBIR ARCHIVO                    -->
  <!-- ========================================= -->
  <app-fase1-upload 
      *ngIf="faseActual === 1"
      (archivoProcesado)="irAFase2($event)">
  </app-fase1-upload>

  <!-- ========================================= -->
  <!-- FASE 2: COMPLETAR FICHAS                 -->
  <!-- ========================================= -->
  <app-fase2-fichas
      *ngIf="faseActual === 2"
      [fichas]="fichas"
      (fichasCompletadas)="irAFase3()">
  </app-fase2-fichas>

  <!-- ========================================= -->
  <!-- FASE 3: FINALIZAR PROCESO                -->
  <!-- ========================================= -->
  <app-fase3-finalizar
      *ngIf="faseActual === 3"
      [loteId]="loteId"
      (procesoFinalizado)="reiniciarProceso()">
  </app-fase3-finalizar>


</div>
