<nav class="sidebar">
  <h5 class="sidebar-title">🏠 Focalización</h5>

  <ul class="sidebar-menu">
    <li>
      <a routerLink="/dashboard"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
         Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/subir-archivo" routerLinkActive="active">
        Subir Archivo
      </a>
    </li>
    <li>
      <a routerLink="/registros" routerLinkActive="active">
        Registros
      </a>
    </li>
  </ul>
</nav>
